@charset "utf-8";
/* CSS Document */

.bg-th{
	background:#7BABED;
	}
	
.table > thead > tr > th {
   
    color: #FFF !important;
}

td.wrap {
	width:250px;
	word-wrap: break-word;
}
.panel-default{
	border-color: #F8f8f8 !important;
}
.btn:focus, .btn.focus {
	color: #848484 !important
}
th.wrap {
	width:250px;
	word-wrap: break-word;
}
.btn {
	    border-radius: 30px !important;
}
.left-space
{
	margin-left: 21px;
	padding: 0px;
	margin: 0px;
}
.table_action
{
	width: 202px;
}
.form-control1
{
	margin-top: 5px;
}
.wrapper
{

	margin-top: -21px;
}
