/* ========================================================================
   Component: layout
 ========================================================================== */

body,
.wrapper>section {
    background-color: #f8f8f8;
}

.wrapper>.aside {
    background-color: #272C3 !important;
}


/* ========================================================================
   Component: top-navbar
 ========================================================================== */

.topnavbar {
    background-color: #272C3 !important;
}

.topnavbar .navbar-header {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #FCEBBF 0%, #51c6ea 100%);
    background-image: -o-linear-gradient(left, #FCEBBF 0%, #51c6ea 100%);
    background-image: linear-gradient(to right, #FCEBBF 0%, #51c6ea 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}

@media only screen and (min-width: 768px) {
    .topnavbar .navbar-header {
        background-image: none;
    }
}

.topnavbar .navbar-nav>li>a,
.topnavbar .navbar-nav>.open>a {
    color: #FCEBBF;
}

.topnavbar .navbar-nav>li>a:hover,
.topnavbar .navbar-nav>.open>a:hover,
.topnavbar .navbar-nav>li>a:focus,
.topnavbar .navbar-nav>.open>a:focus {
    color: #5d9cec;
}

.topnavbar .navbar-nav>.active>a,
.topnavbar .navbar-nav>.open>a,
.topnavbar .navbar-nav>.active>a:hover,
.topnavbar .navbar-nav>.open>a:hover,
.topnavbar .navbar-nav>.active>a:focus,
.topnavbar .navbar-nav>.open>a:focus {
    background-color: #fff;
}

.topnavbar .navbar-nav>li>[data-toggle='navbar-search'] {
    color: #ffffff;
}

.topnavbar .nav-wrapper {
    background-color: #6C9CDE;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}

@media only screen and (min-width: 768px) {
    .topnavbar {
        background-color: #FCEBBF;
        background-image: -webkit-linear-gradient(left, #FCEBBF 0%, #51c6ea 100%);
        background-image: -o-linear-gradient(left, #FCEBBF 0%, #51c6ea 100%);
        background-image: linear-gradient(to right, #FCEBBF 0%, #51c6ea 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
    }
    .topnavbar .navbar-nav>.open>a,
    .topnavbar .navbar-nav>.open>a:hover,
    .topnavbar .navbar-nav>.open>a:focus { }
    .topnavbar .navbar-nav>li>a,
    .topnavbar .navbar-nav>.open>a {
        color: white;
    }
    .topnavbar .navbar-nav>li>a:hover,
    .topnavbar .navbar-nav>.open>a:hover,
    .topnavbar .navbar-nav>li>a:focus,
    .topnavbar .navbar-nav>.open>a:focus {
        color: white;
    }
}


/* ========================================================================
   Component: sidebar
 ========================================================================== */

.sidebar {
    background-color: #272C3 !important;
}

.sidebar .nav-heading {
    color: #919da8;
}

.sidebar .nav>li>a,
.sidebar .nav>li>.nav-item {
    color: #8B89A3;
}


.sidebar .nav>li>a>em,
.sidebar .nav>li>.nav-item>em {
    color: inherits;
}

.cross-icon,
.clone-remover {
    position: absolute;
    float: left;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #cecece;
    padding: 8px 9px 8px 10px;
    cursor: pointer;
    background-color: #6a90c7;
    color: white;
    top: 25px;
}

.input_fields_wrap {
    position: relative;
    float: left;
    width: 100%
}

.sidebar .nav>li.active,
.sidebar .nav>li.open,
.sidebar .nav>li.active>a,
.sidebar .nav>li.open>a,
.sidebar .nav>li.active .nav,
.sidebar .nav>li.open .nav {
    color: #5d9cec;
    background-color: rgba(93, 156, 236, 0.2);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidebar .nav>li.active>a>em,
.sidebar .nav>li.open>a>em {
    color: white;
}

.sidebar .nav>li.active {
    border-left-color: #FCEBBF;
}

.sidebar-subnav {
    background-color: #ffffff;
}

.sidebar-subnav>.sidebar-subnav-header {
    color: #515253;
}

.sidebar-subnav>li>a,
.sidebar-subnav>li>.nav-item {
    color: #515253;
}

.sidebar-subnav>li>a:focus,
.sidebar-subnav>li>.nav-item:focus,
.sidebar-subnav>li>a:hover,
.sidebar-subnav>li>.nav-item:hover {
    color: #C2C1CE;
}

.sidebar-subnav>li.active>a,
.sidebar-subnav>li.active>.nav-item {
    color: #FCEBBF;
}

.sidebar-subnav>li.active>a:after,
.sidebar-subnav>li.active>.nav-item:after {
    border-color: #FCEBBF;
    background-color: #FCEBBF;
}


/* ========================================================================
   Component: offsidebar
 ========================================================================== */

.offsidebar {
    border-left: 1px solid #cccccc;
    background-color: #272C3 !important;
    color: #515253;
}